<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title color="primary">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div align="center">
    <ion-avatar>
      <img src="assets/icon/logo.png" />
    </ion-avatar>
    <ion-label color="primary">Martin Kompas</ion-label>
  </div>

  <ion-list>
    
    <!-- <ion-item lines="full">
      <ion-icon slot="start" name="moon-outline"></ion-icon>
      <ion-label>
        Dark Mode
      </ion-label>
      <ion-toggle slot="end" mode="ios" [checked]="darkMode"
          (ionChange)="toggleDarkMode()">
        </ion-toggle>
    </ion-item> -->

    <ion-item lines="full">
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-label>
        Push Notifications
      </ion-label>
      <ion-toggle slot="end" [checked]="true"></ion-toggle>
    </ion-item>

    <ion-item lines="full" detail (click)="openAboutModal()">
      <ion-icon slot="start" name="information-circle-outline"></ion-icon>
      <ion-label>
        About Us
      </ion-label>
    </ion-item>

    <!-- Get Support Item -->
    <ion-item lines="full" detail (click)="showSupportInfo()">
      <ion-icon slot="start" name="help-buoy-outline"></ion-icon>
      <ion-label>
        Get Support
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button fill="clear" class="ion-margin" color="danger">
    <ion-icon name="log-out" slot="start"></ion-icon> Logout
  </ion-button>
</ion-content>


  


<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>About Us</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>
        This app allows you to add your favorite books to one list, so you won’t forget any of them.
      </p>
    </ion-content>
  </ng-template>
</ion-modal>
